<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'encryption_app:index' %}">Main</a> |
    <a href="{% url 'encryption_app:encrypt' %}">암호화</a> |
    <a href="{% url 'encryption_app:decrypt' %}">복호화</a>
    <hr>
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:profile' %}">프로필</a> |
        <a href="{% url 'accounts:logout' %}">로그아웃</a> |
        <a href="{% url 'accounts:update' %}">개인정보 변경</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a> |
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    {% block content %} {% endblock content %}
  </body>
</html>
